@use "sass:math";
// : Миксины
// : Функции
// : Переменные
/* : Стартовые классы */

// ! <Миксины>=============================================================================================================================================// !
@mixin ItC($propetry, $mobSize, $pcSize) {
    // * Внутри ограничивающего контейнера (Inside the container)
    @media only screen and (max-width: $container) {
        #{$propetry}: calc(#{$mobSize + px} + (#{$pcSize} - #{$mobSize}) * ((100vw - 320px) / (#{$container} - 320)));
    }
}

@mixin OtC($propetry, $mobSize, $pcSize, $canvasSize: 1440) {
    // * За пределами ограничивающего контейнера (Outside the container)
    @media only screen and (min-width: $container) {
        #{$propetry}: calc(#{$mobSize + px} + (#{$pcSize} - #{$mobSize}) * ((100vw - 320px) / (#{$canvasSize} - 320)));
    }
}

@mixin WR($propetry, $mobSize, $pcSize, $canvasSize: 1440) {
    // * Отзывчивость по ширине (Width Responsiveness)
    #{$propetry}: calc(#{$mobSize + px} + (#{$pcSize} - #{$mobSize}) * ((100vw - 320px) / (#{$canvasSize} - 320)));
}

@mixin connect-font($font_name, $file_name, $weight, $style) {
    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}
// ! </Миксины>============================================================================================================================================// !

// ! <Функции>=============================================================================================================================================// !
@function rem($value) {
    // * px to rem
    $remValue: math.div($value, $main-fontSize) + rem;
    @return $remValue;
}

@function prc($pxOne, $pxTwo) {
    // * px to prc
    $remValue: math.div($pxOne, $pxTwo) * 100%;
    @return $remValue;
}

@function em($value) {
    // * px to em
    $remValue: math.div($value, $main-fontSize) + em;
    @return $remValue;
}
// ! </Функции>============================================================================================================================================// !

// ! <Переменные >=============================================================================================================================================// !
$main-fontSize: 14; // @ px
$line-height: 20; // rem
$main-fontFamily: "Open Sans", sans-serif;
$main-fontColor: #86878b;
$second-color: #ff8b38;
$title-color: #333333;

$additionalPx: 10; // * Нужно что бы к стенкам не прилипал контент @ px
$container: 1095 + $additionalPx; // @ px

$md1: $container;
$md2: 992; // @ em
$md3: 767; // @ em
$md4: 479; // @ em
// ! </Переменные>============================================================================================================================================// !

/* ! <Стартовые классы и настройки>============================================================================================================================================= */
._container {
    max-width: $container + px;
    margin: 0 auto;
    @media only screen and (max-width: em($md1)) {
        max-width: 970px;
    }
    @media only screen and (max-width: em($md2)) {
        max-width: 750px;
    }
    @media only screen and (max-width: em($md3)) {
        max-width: none;
        padding: 0 10px;
    }
}

._wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

._page {
    flex: 1 1 auto;
}

.noscript {
    text-align: center;
    margin: 200px 150px;
    background-color: #f00;
    padding: 15px;
    border-radius: 10px;
    color: #fff;
    &__title {
        font-size: 3em;
        margin: 20px 0;
    }

    &__title-sup {
        font-size: 1.5em;
        margin: 20px 0;
    }
}

.ibg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.ibg > img {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}
/* ! </Стартовые классы>============================================================================================================================================ */
