/* : axit */
/* : axit-rigth */
/* : axit-left */
/* : axit-social-media */

/* ! <axit>=============================================================================================================================================*/
.axit {
    &__container {
        padding: 170px 0 70px 0;
    }

    &__body {
        display: flex;
        justify-content: space-between;
    }

    &__right {
        color: #fff;
        flex: 1 1 50%;
        max-width: rem(520);
    }

    &__left {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
/* ! </axit>============================================================================================================================================*/

/* ! <axit-rigth>=============================================================================================================================================*/
.axit-rigth {
    &__body {
    }

    &__logo {
        margin: 0 0 rem(21) 0;
    }

    &__title {
        font-family: "Raleway", sans-serif;
        font-size: rem(36);
        line-height: 1.2;
        margin: 0 0 rem(28) 0;
    }

    &__line {
        margin: 0 0 rem(28) 0;
    }

    &__text {
        margin: 0 0 rem(39) 0;
    }

    &__button {
        width: rem(135);
        height: rem(42);
        margin: 0 0 rem(40) 0;
    }
}
/* ! </axit-rigth>============================================================================================================================================*/

/* ! <axit-left>=============================================================================================================================================*/
.axit-left {
    &__body {
        width: rem(360);
    }

    &__top {
        background-color: #f5f5f5;
        width: 100%;

        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    &__top-title {
        text-align: center;
        padding: 15px 0;
        font-size: rem(20);
        line-height: 1.2;
        font-weight: 700;
        color: $title-color;
        span {
            color: $second-color;
            text-transform: uppercase;
        }
    }

    &__center {
        background-color: #fff;
        padding: 29px 0 49px 45px;
    }

    &__input {
        padding: 0 0 36px 0;
        &:last-child {
            padding: 0 0 0 0;
        }
        input {
            padding: 0 0 8px 10px;
            width: 100%;
            max-width: 285px;
            box-shadow: 0px 1px 0px 0px rgba(0,0,1,0.15);
            color:  #bdbdbd;
        }
    }

    &__bottom {
    }

    &__button {
        width: 100%;
        height: rem(54);
        border-radius: 0 0 5px 5px;
        border: 0;
    }
}
/* ! </axit-left>============================================================================================================================================*/

/* ! <axit-social-media>=============================================================================================================================================*/
.axit-social-media {

    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin: 15px auto;
    }

    &__right {
    }

    &__title {
    }

    &__text {
        max-width: 360px;
    }

    &__left {
    }

    &__icon {
        margin: 0 45px 0 0;
    }

    &__icon-link {
        svg {
            fill: #ccc;
            width: 40px;
            height: 50px;
        }
    }
}
/* ! </axit-social-media>============================================================================================================================================*/